.main-nav {
    display: flex;
    flex-flow: wrap row;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0.125rem 0.25rem 0 rgba(0,0,0,.1);
    padding: 0 5px;

    &-logo {
        height: 42px;
        margin: 5px 16px 0px 5px;
    }

    & a:not(:first-child) {
        height: 52px;
        line-height: 2.5;
        padding: 0 10px;
    }
}